/*===============================================*/
/* 02. NAV BAR  	 							 */
/*===============================================*/

/* 02.1.3 Top Bar 								 */
/* ----------------------------------------------*/
#nav-bar.top-bar.stick-it{
	background-color:#404040;
}

/* 02.1.4 Bottom Bar 							 */
/* ----------------------------------------------*/

#nav-bar.bottom-bar.stick-it{
	background-color:#404040;
}

/* 02.1.5 Transparent & Block Color 			 */
/* ----------------------------------------------*/
#nav-bar.transparent{
	/*position:relative;*/ 
	background-color:transparent;
}

#nav-bar.block-color{
	/*position:relative; */ 
	background-color:#404040;
}

/*.is-sticky #nav-bar.block-color{
	-webkit-transform: translateZ(0)
}*/


/*===============================================*/
/* 03. NAV MENU	 	 							 */
/*===============================================*/

/* ----------------------------------------------*/
/* 03.1 Parent Menu								 */
/* ----------------------------------------------*/
#nav-menu > li:before{
	color:#FFF;
}

#nav-menu > li a{
	color:#FFF;
}

#nav-menu > li a:hover{
	color:#333;
}

/* 03.1.1 Transparent 							 */
/* ----------------------------------------------*/
.transparent #nav-menu > li:before{
	color:#404040;
}

.transparent #nav-menu > li a{
	color:#FFF;
}

.transparent #nav-menu > li a:hover{
	color:#404040;
}

.transparent.stick-it #nav-menu > li a{
	color:#FFF
}

.transparent.stick-it #nav-menu > li a:hover{
	color:#333
}

.transparent.stick-it #nav-menu > li:before{
	color:#FFF;
}


/* ----------------------------------------------*/
/* 03.2 Child Menu								 */
/* ----------------------------------------------*/
#nav-menu ul{
	border-top-color:#404040
}

#nav-menu ul li a{
	background-color:#FFF;
	border-bottom-color:#f4f2f2;
}   

#nav-menu ul li a:hover{
	background-color:#404040;
	color:#FFF;
}

/* 03.2.1 Reset Transparent Child Menu Color	 */
/* ----------------------------------------------*/
.transparent #nav-menu ul li a,
.transparent.stick-it #nav-menu ul li a{
	color:#666;
}

.transparent #nav-menu ul li a:hover,
.transparent.stick-it #nav-menu ul li a:hover{
	color:#FFF;
}


/* 03.2.1.1 Reset Block-Color Child Menu Color	 */
/* ----------------------------------------------*/
.block-color #nav-menu ul li a,
.block-color.stick-it #nav-menu ul li a{
	color:#666;
}

.block-color #nav-menu ul li a:hover,
.block-color.stick-it #nav-menu ul li a:hover{
	color:#FFF;
}


/* ----------------------------------------------*/
/* 03.3 Mobile Nav								 */
/* ----------------------------------------------*/
#mobile-nav,
.transparent.stick-it #mobile-nav{
	color:#FFF;
}

.transparent #mobile-nav{
	color:#FFF;
}


/* ----------------------------------------------*/
/* 04.3 Sidebar Menu				 			 */
/*-----------------------------------------------*/

/* 04.3.1 Sidebar */
/* ----------------------------------------------*/
.sb-slidebar{
	background-color:#404040;
	border-left:none;
	border-right:none;
}

/* 04.3.2 Close Button */
/* ----------------------------------------------*/
#close-button i{
	color:#FFF;
}

#close-button:hover i{
	color:#333;
}

/* 04.3.3 Parent Menu */
/* ----------------------------------------------*/
#side-nav-menu > li > a:before{
	color:#FFF;
}

#side-nav-menu > li a{
	color:#FFF;
}

#side-nav-menu > li a:hover{
	color:#333;
}

/*===============================================*/
/* 05. LOGO	 	 	 							 */
/*===============================================*/

/* ----------------------------------------------*/
/* 05.1	CSS Logo								 */
/* ----------------------------------------------*/
.css-logo{
	background-color:#FFF;
	color:#404040;
}

.transparent .css-logo{
	background-color:#404040;
	color:#FFF;
}

.stick-it .css-logo{
	background-color:#FFF;
	color:#404040;
}

#menuicon-bar .css-logo{
	background-color:#404040;
	color:#FFF;
}

@media screen and (max-width: 991px) {	
/* ----------------------------------------------*/
/* 03.1 Parent Menu								 */
/* ----------------------------------------------*/
#nav-menu > li a{
	color:#666;
}

#nav-menu > li a:hover{
	color:#FFF;
}

/* 03.1.1 Transparent 							 */
/* ----------------------------------------------*/

.transparent #nav-menu > li a{
	color:#666;
}

.transparent #nav-menu > li a:hover{
	color:#FFF;
}

.transparent.stick-it #nav-menu > li a{
	color:#666
}

.transparent.stick-it #nav-menu > li a:hover{
	color:#FFF
}

/* ----------------------------------------------*/
/* 03.3 Mobile Nav								 */
/* ----------------------------------------------*/
.transparent #mobile-nav, .block-color #mobile-nav {	
	color:#FFF;
}

.transparent.stick-it #mobile-nav, .block-color.stick-it #mobile-nav{
	color:#FFF;	
}


}

