/*===============================================*/
/* 00. PRELOADER		 						 */
/*===============================================*/
.heart-animation i {
    color: #404040;
}

.top-heart {
    color: #404040;
}

.her-name {
    color: #404040;
}

/*===============================================*/
/* 01. GENERAL			 						 */
/*===============================================*/

h1 a:hover, h2 a:hover, h3 a:hover,
h4 a:hover, h5 a:hover, h6 a:hover {
    color: #404040;
}

/*===============================================*/
/* 03. NAV MENU	 	 							 */
/*===============================================*/

/* ----------------------------------------------*/
/* 03.1 Parent Menu								 */
/* ----------------------------------------------*/
#nav-menu > li:before {
    color: #BABABA;
    content: '\e913';
}

#nav-menu > li a:hover {
    color: #BABABA;
}

/* 03.1.1 Transparent 							 */
/* ----------------------------------------------*/
.transparent #nav-menu > li a:hover {
    color: #BABABA;
}

/* ----------------------------------------------*/
/* 03.2 Child Menu								 */
/* ----------------------------------------------*/
#nav-menu ul {
    border-top-color: #404040;
}

#nav-menu ul li a:hover {
    background-color: #404040;
}

/* ----------------------------------------------*/
/* 04.2 Menu Icon					 			 */
/*-----------------------------------------------*/

/* 04.2.1 Standard Menu Icon */
/* ----------------------------------------------*/
#menu-icon.white a:hover i, #menu-icon a:hover i {
    color: #404040;
}

/* 04.2.2 Sticky Menu Icon */
/* ----------------------------------------------*/
#sticky-menuicon a:hover {
    background-color: #404040;
}

/* ----------------------------------------------*/
/* 04.3 Sidebar Menu				 			 */
/*-----------------------------------------------*/

/* 04.3.2 Close Button */
/* ----------------------------------------------*/
#close-button:hover i {
    color: #404040;
}

/* 04.3.3 Parent Menu */
/* ----------------------------------------------*/
#side-nav-menu > li > a:before {
    color: #404040;
    content: '\e913';
}

#side-nav-menu > li a:hover {
    color: #404040;
}

/*===============================================*/
/* 05. LOGO	 	 	 							 */
/*===============================================*/

/* ----------------------------------------------*/
/* 05.1	CSS Logo								 */
/* ----------------------------------------------*/
.css-logo {
    background-color: #404040;
}

/*===============================================*/
/* 06. MAIN-SLIDER					 		 	 */
/*===============================================*/

/* 06.5.6 Save The Date Title */
/* ----------------------------------------------*/
.pink-dot {
    color: #404040;
}

/*===============================================*/
/* 07 PAGE										 */
/*===============================================*/

/* 07.1.6 Page Sidebar				 			 */
/* ----------------------------------------------*/
.sidebar-menu li a:hover {
    color: #404040;
}

/* ----------------------------------------------*/
/* 07.2 PAGE ELEMENT	 	 					 */
/* ----------------------------------------------*/

/* 07.2.4 Title-Excerpt White Box				 */
/* ----------------------------------------------*/
.title-excerpt .custom-heart-icon {
    color: #404040 !important;
}

/* 07.2.9 HEART DIVIDER							 */
/* ----------------------------------------------*/
.pink-heart {
    color: #404040;
}

/* 07.2.10 BUTTON					 			 */
/* ----------------------------------------------*/
a.de-button.reverse, span.de-button.reverse, input[type=submit].reverse {
    background-color: #404040;
    border: solid 1px #404040;
}

a.de-button:hover, input[type=submit]:hover {
    background-color: #404040;
    border-color: #404040;
}

/* 07.2.11 Banner Text				 			 */
/* ----------------------------------------------*/
.banner-text.withlove:before {
    content: "\e913";
}

.banner-text.withlove:after {
    color: #404040;
    content: "\e913";
}

/*===============================================*/
/* 08 ICON										 */
/*===============================================*/

/*------------------------------------------------*/
/* 08.2 Shape									  */
/*------------------------------------------------*/

/* 08.2.1 Default								  */
/*------------------------------------------------*/
.de-icon.default.reverse {
    color: #404040;
}

a:hover .de-icon.default, a:hover .de-icon.default.light {
    color: #404040;
}

/* 08.2.2 Circle, Rounded, Square				  */
/*------------------------------------------------*/
.de-icon.square.reverse, .de-icon.circle.reverse, .de-icon.rounded.reverse {
    background-color: #404040;
    color: #FFF;
}

.de-icon.square.light.reverse, .de-icon.circle.light.reverse, .de-icon.rounded.light.reverse {
    background-color: #FFF;
    color: #404040;
}

.de-icon.outline.reverse {
    background-color: transparent;
    color: #404040;
    border: 1px solid #404040;
}

.de-icon.outline.light, .de-icon.outline.light.reverse {
    background-color: transparent;
    color: #FFF;
    border: 1px solid #FFF;
}

a:hover .de-icon.circle, a:hover .de-icon.rounded, a:hover .de-icon.square {
    background-color: #404040;
    color: #FFF;
    border: none;
}

/*------------------------------------------------*/
/* 08.5 Effect Square/Rounded To Circle 	  	  */
/*------------------------------------------------*/
a:hover .de-icon.effect3 {
    background-color: #404040;
    color: #fff;
    border-radius: 50%;
}

/*===============================================*/
/* 11 FORM										 */
/*===============================================*

/* 11.5 Button									 */
/*-----------------------------------------------*/
form .btn-primary:hover,
form .btn-primary:focus,
form .btn-primary.focus,
form .btn-primary:active,
form .btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    background-color: #404040;
    border-color: #404040;
    color: #FFF;
    border-color: #cccccc;
}

/*-----------------------------------------------*/
/* 11.8 Message									 */
/*-----------------------------------------------*/
.message .bg-danger {
    background-color: #404040;
}

/*===============================================*/
/* 14. ONEPAGE SECTION							 */
/*===============================================*/

/* ----------------------------------------------*/
/* 14.2 Couple Section							 */
/* ----------------------------------------------*/
.his-her-name .custom-heart {
    background-color: #404040;
}

/* ----------------------------------------------*/
/* 14.3 Our Story Section						 */
/* ----------------------------------------------*/
.story-date {
    background-color: #404040;
}

/* ----------------------------------------------*/
/* 14.4 Where When Section						 */
/* ----------------------------------------------*/
.and {
    color: #404040;
}

/* ----------------------------------------------*/
/* 14.6 Don't Miss It / Countdown Section		 */
/* ----------------------------------------------*/
.circle-countdown .countdown-amount {
    background-color: #404040;
}

/*===============================================*/
/* 15. PLUGIN CUSTOM							 */
/*===============================================*/
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
    background: #404040;
}

.hide-on-mobile {
    border: 10px solid red;
}

#save-the-date {
    font-family: 'Oswald', sans-serif;
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    padding-top: 100px;
    padding-right: 0px;
    margin-bottom: 20px;
}

#counting-down {
    text-align: center;
    color: #FFF;
    font-family: 'Oswald', sans-serif;
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    padding-right: 0px;
    margin-top: 0px;
    margin-bottom: 25px;
}

#counting-down #down {
    font-size: 35px;
}

#location-countdown {
    background-color: #3f3f3f;
}

#location-countdown .image-divider.auto-height {
    padding: 25px 0;
}

.white-line-double-size {
    width: 60px;
    height: 8px;
    display: inline-block;
    border-top: solid 1px #FFF;
}

.grey-line-double-size {
    width: 60px;
    height: 8px;
    display: inline-block;
    border-top: solid 2px #e1dddd;
}

#gift-list-section {
    padding-top: 140px;
}

.bottom-footer {
    background-color: #2E2F30;
    padding: 10px;
    color: whitesmoke;
    margin-bottom: -20px;
}

footer .image-divider.fixed-height {
    height: 750px;
}


@media screen and (max-width: 991px) {
    /*===============================================*/
    /* 03. NAV MENU	 	 							 */
    /*===============================================*/
    /* ----------------------------------------------*/
    /* 03.1 Parent Menu 						     */
    /* ----------------------------------------------*/
    #nav-menu > li:before {
        color: #BABABA;
        content: '';
    }

    #nav-menu li a:hover {
        background-color: #404040;
        color: #FFF;
    }

    .transparent #nav-menu li a:hover {
        background-color: #404040;
        color: #FFF;
    }

    #save-the-date {
        padding-bottom: 30px;
        padding-right: 0px;
    }

    .logo-wrapper img {
        width: 50px;
    }
}