<!-- MAIN SLIDER -->
<section id="main-slider" class="fixed-height">

  <!-- MAIN SLIDER TITLE OUTTER WRAPPER -->
  <div class="slide-title-outter-wrapper">

    <!-- MAIN SLIDER TITLE INNER WRAPPER -->
    <div class="slide-title-inner-wrapper">

      <!-- TITLE 1  -->
      <div class="slide-title align-bottom">

        <div class="container">
          <div class="row">
            <div class="col-md-offset-2 col-md-8">

              <div class="page-title">
                <h1>CERIMÔNIA & RECEPÇÃO</h1>

                <div class="heart-divider">
                  <span class="white-line-double-size"></span>
                </div>

              </div>

            </div>
          </div>
        </div>

      </div>

    </div><!-- END of MAIN SLIDER TITLE INNER WRAPPER -->

  </div> <!-- END of MAIN SLIDER TITLE OUTTER WRAPPER -->

  <!-- MAIN SLIDER IMAGES -->
  <div class="slides">
    <!-- SLIDE IMAGE -->
    <div data-stellar-ratio="0.5" class="slide-image change-to-d-mobile" style="background-image:url(<%= asset_path('d.jpg') %>);">
    </div>

    <div class="slide-overlay" style="opacity:0.2"></div>
  </div>  <!-- END of MAIN SLIDER IMAGES -->

</section><!-- ENF of MAIN SLIDER -->

<!--CONTENT SECTION-->
<section id="content">

  <!-- CONTAINER -->
  <div class="container">

    <!-- ROW-1 -->
    <div class="row">
      <br /><br />
      <div class="col-md-offset-1 col-md-5">

        <div class="white-box-content-wrapper animation fadeInLeft">
          <h3>CERIMÔNIA RELIGIOSA</h3>
          <span>Igreja Mosteiro de São Bento<br/><br/></span>
          <p>
            Av. Gen. Osório - Centro, 58010-780
          </p>
          <div id="map-ceremony" style="height:550px; width:100%;"></div>
        </div>

      </div>

      <div class="col-md-5">

        <div class="white-box-content-wrapper animation fadeInLeft delay1">
          <h3>RECEPÇÃO</h3>
          <span>&nbsp;<br/><br/></span>
          <p>
            Av. Gov. Argemiro de Figueiredo, 1170 - Bessa
          </p>
          <div id="map-party" style="height:550px; width:100%;"></div>
        </div>

      </div>

    </div><!--END of ROW-1-->


  </div> <!-- END of CONTAINER -->

</section> <!--END of CONTENT SECTION-->

