

<!-- MAIN SLIDER -->
<section id="main-slider" class="flexslider fullscreen">

  <!-- MAIN SLIDER TITLE OUTTER WRAPPER -->
  <div class="slide-title-outter-wrapper">

    <!-- MAIN SLIDER TITLE INNER WRAPPER -->
    <div class="slide-title-inner-wrapper">

      <!-- TITLE -->
      <div class="slide-title align-bottom">

        <div class="container">
          <div class="row">
            <div class="col-md-offset-3 col-md-6 animation delay1 fadeInUp">
              <div id="save-the-date">
                <div id="date">01<span class="pink-dot">.</span>10<span class="pink-dot">.</span>16</div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div><!-- END of MAIN SLIDER TITLE INNER WRAPPER -->

  </div> <!-- END of MAIN SLIDER TITLE OUTTER WRAPPER -->

  <!-- MAIN SLIDER IMAGES -->

  <ul class="slides">


    <li>
      <!-- SLIDE IMAGE -->
      <div data-stellar-ratio="0.5" class="slide-image change-to-a-mobile" style="background-image:url(<%= asset_path('a.jpg') %>);">
      </div>

      <!-- SLIDE OVERLAY -->
      <div class="slide-overlay" style="opacity:0.2"></div>
    </li>

    <li>
      <!-- SLIDE IMAGE -->
      <div data-stellar-ratio="0.5" class="slide-image change-to-b-mobile" style="background-image:url(<%= asset_path('b.jpg') %>);">
      </div>

      <!-- SLIDE OVERLAY -->
      <div class="slide-overlay" style="opacity:0.2"></div>
    </li>

    <li>
      <!-- SLIDE IMAGE -->
      <div data-stellar-ratio="0.5" class="slide-image change-to-c-mobile" style="background-image:url(<%= asset_path('c.jpg') %>);">
      </div>

      <!-- SLIDE OVERLAY -->
      <div class="slide-overlay" style="opacity:0.2"></div>
    </li>

    <li>
      <!-- SLIDE IMAGE -->
      <div data-stellar-ratio="0.5" class="slide-image change-to-d-mobile" style="background-image:url(<%= asset_path('d.jpg') %>);">
      </div>

      <!-- SLIDE OVERLAY -->
      <div class="slide-overlay" style="opacity:0.2"></div>
    </li>

    <li>
      <!-- SLIDE IMAGE -->
      <div data-stellar-ratio="0.5" class="slide-image change-to-e-mobile" style="background-image:url(<%= asset_path('e.jpg') %>);">
      </div>

      <!-- SLIDE OVERLAY -->
      <div class="slide-overlay" style="opacity:0.2"></div>
    </li>

    <li>
      <!-- SLIDE IMAGE -->
      <div data-stellar-ratio="0.5" class="slide-image change-to-f-mobile" style="background-image:url(<%= asset_path('f.jpg') %>);">
      </div>

      <!-- SLIDE OVERLAY -->
      <div class="slide-overlay" style="opacity:0.2"></div>
    </li>

    <li>
      <!-- SLIDE IMAGE -->
      <div data-stellar-ratio="0.5" class="slide-image change-to-g-mobile" style="background-image:url(<%= asset_path('g.jpg') %>);">
      </div>

      <!-- SLIDE OVERLAY -->
      <div class="slide-overlay" style="opacity:0.2"></div>
    </li>

    <li>
      <!-- SLIDE IMAGE -->
      <div data-stellar-ratio="0.5" class="slide-image change-to-h-mobile" style="background-image:url(<%= asset_path('h.jpg') %>);">
      </div>

      <!-- SLIDE OVERLAY -->
      <div class="slide-overlay" style="opacity:0.2"></div>
    </li>

    <li>
      <!-- SLIDE IMAGE -->
      <div data-stellar-ratio="0.5" class="slide-image change-to-i-mobile" style="background-image:url(<%= asset_path('i.jpg') %>);">
      </div>

      <!-- SLIDE OVERLAY -->
      <div class="slide-overlay" style="opacity:0.2"></div>
    </li>

    <li>
      <!-- SLIDE IMAGE -->
      <div data-stellar-ratio="0.5" class="slide-image change-to-j-mobile" style="background-image:url(<%= asset_path('j.jpg') %>);">
      </div>

      <!-- SLIDE OVERLAY -->
      <div class="slide-overlay" style="opacity:0.2"></div>
    </li>

    <li>
      <!-- SLIDE IMAGE -->
      <div data-stellar-ratio="0.5" class="slide-image change-to-l-mobile" style="background-image:url(<%= asset_path('l.jpg') %>);">
      </div>

      <!-- SLIDE OVERLAY -->
      <div class="slide-overlay" style="opacity:0.2"></div>
    </li>

  </ul><!-- END of MAIN SLIDER IMAGES -->

</section><!-- ENF of MAIN SLIDER -->


<!--CONTENT SECTION-->
<section id="content">

  <!-- LOCATION & COUNTDOWN SECTION -->
  <section id="location-countdown">
    <div class="image-divider auto-height" data-stellar-background-ratio="0.5">

      <div class="divider-overlay"></div>

      <!-- Use Center Middle Alignment to align middle the content for fixed-height parallax
      <div class="alignment">
        <div class="v-align center-middle"> -->

      <div class="container">
        <div class="row">
          <div class="col-md-offset-1 col-md-10 text-center">

            <div class="animation fadeInUp">
              <div id="counting-down">
                <div id="counting"></div>
                <div id="down">Faltam</div>
              </div>
            </div>

            <div class="heart-divider animation fadeInUp">
              <span class="white-line-double-size"></span>
            </div>

            <div id="countdown" class="simple-countdown animation fadeInUp"></div>

          </div>
        </div>
      </div>

      <!--</div>
    </div>-->

    </div>
  </section>


  <!-- GIFT LISTS SECTION -->
  <section id="gift-list-section">

    <div class="container">

      <!-- ROW-1 -->
      <div class="row">

        <!-- SECTION TITLE -->
        <div class="col-md-12 text-center">

          <div class="section-title animation fadeInUp">
            <h2>
              LISTAS DE PRESENTES
            </h2>

            <div class="heart-divider">
              <span class="grey-line-double-size"></span>
            </div>

            <h3>Listas Virtuais</h3>

          </div>
        </div>
      </div> <!-- END of ROW-1 -->


      <!-- ROW-2 -->
      <div class="row">

        <div class="col-md-offset-1 col-md-10">

          <div class="container-fluid">
            <div class="row">

              <!-- ITEM-1 -->
              <div class="wedding-item col-md-offset-2 col-md-4 animation fadeIn">

                <!--PHOTO-ITEM-->
                <div class="photo-item">

                  <!--PHOTO-->
                  <%= image_tag 'icasei.png', class: "hover-animation image-zoom-in" %>

                  <!--PHOTO OVERLAY-->
                  <div class="layer wh95 hidden-black-overlay hover-animation fade-in">
                  </div><!--END of PHOTO OVERLAY-->

                  <div class="layer wh95 border-photo-caption fade-out">
                  </div><!--END of PHOTO CAPTION-->

                  <!--ICON LINK-->
                  <div class="layer wh100 hidden-link hover-animation delay1 fade-in">
                    <div class="alignment">
                      <div class="v-align center-middle">

                        <a href="https://sites.icasei.com.br/laluehumberto/pt_br/store/index/9?id_loja=1" class="de-button outline small" target="_blank">
                          LISTA DE PRESENTES
                        </a>

                      </div>
                    </div>
                  </div><!--END of ICON LINK-->

                </div><!--END of PHOTO-ITEM-->

                <!-- TITLE & EXCERPT -->
                <div class="title-excerpt">
                  <h3 class="text-center">
                    <a href="https://sites.icasei.com.br/laluehumberto/pt_br/store/index/9?id_loja=1" target="_blank">iCASEI</a>
                  </h3>
                </div>
                <!-- END of TITLE & EXCERPT -->

              </div><!-- END of ITEM-1 -->


              <!-- ITEM-2 -->
              <div class="wedding-item  col-md-4 animation delay1 fadeIn">

                <!--PHOTO-ITEM-->
                <div class="photo-item">

                  <!--PHOTO-->
                  <%= image_tag 'tania-bulhoes.png', class: "hover-animation image-zoom-in" %>

                  <!--PHOTO OVERLAY-->
                  <div class="layer wh95 hidden-black-overlay hover-animation fade-in">
                  </div><!--END of PHOTO OVERLAY-->

                  <div class="layer wh95 border-photo-caption fade-out">

                  </div><!--END of PHOTO CAPTION-->

                  <!--ICON LINK-->
                  <div class="layer wh100 hidden-link hover-animation delay1 fade-in">
                    <div class="alignment">
                      <div class="v-align center-middle">

                        <a href="http://www.taniabulhoes.com.br/list/laluehumberto" class="de-button outline small" target="_blank">
                          LISTA DE PRESENTES
                        </a>

                      </div>
                    </div>
                  </div><!--END of ICON LINK-->

                </div><!--END of PHOTO-ITEM-->

                <!-- TITLE & EXCERPT -->
                <div class="title-excerpt">
                  <h3 class="text-center">
                    <a href="http://www.taniabulhoes.com.br/list/laluehumberto" target="_blank">TANIA BULHÕES</a></h3>
                </div>
                <!-- END of TITLE & EXCERPT -->

              </div><!-- END of ITEM-2 -->


            </div>


          </div>

        </div>
      </div><!-- END of ROW-2 -->

      <!-- ROW-3 -->
      <div class="row">

        <!-- SECTION TITLE -->
        <div class="col-md-12 text-center">

          <div class="section-title animation fadeInUp">

            <div class="heart-divider">
              <span class="grey-line-double-size"></span>
            </div>

            <h3>Listas Físicas</h3>

          </div>
        </div>
      </div> <!-- END of ROW-3 -->

      <!-- ROW-4 -->
      <div class="row">

        <div class="col-md-offset-1 col-md-10">

          <div class="container-fluid">
            <div class="row">

              <!-- ITEM-1 -->
              <div class="wedding-item col-md-3 animation fadeIn">

                <!-- TITLE & EXCERPT -->
                <div class="title-excerpt">
                  <h3 class="text-center"><a href="https://goo.gl/maps/WLknogJZR3H2" target="_blank">APRIMORE ELETRO</a>
                  </h3>
                  <p>
                    <a href="https://goo.gl/maps/WLknogJZR3H2" target="_blank">Av. Gen. Edson Ramalho, 372, Manaíra<br/>João
                      Pessoa, PB<br/>58038-100</a></p>
                  <p>(83) 3031-6552</p>
                </div>
                <!-- END of TITLE & EXCERPT -->

              </div><!-- END of ITEM-1 -->


              <!-- ITEM-2 -->
              <div class="wedding-item col-md-3 animation delay1 fadeIn">


                <!-- TITLE & EXCERPT -->
                <div class="title-excerpt">
                  <h3 class="text-center">
                    <a href="https://goo.gl/maps/97e69NbDbMF2" target="_blank">BAZAART</a></h3>
                  <p>
                    <a href="https://goo.gl/maps/97e69NbDbMF2" target="_blank">Av. Gen. Edson Ramalho, 804, Manaíra<br/>João
                      Pessoa, PB<br/>58038-100</a></p>
                  <p>(83) 3247-5676</p>
                </div>
                <!-- END of TITLE & EXCERPT -->

              </div><!-- END of ITEM-2 -->


              <!-- ITEM-3 -->
              <div class="wedding-item col-md-3 animation delay2 fadeIn">

                <!-- TITLE & EXCERPT -->
                <div class="title-excerpt">
                  <h3 class="text-center">
                    <a href="https://goo.gl/maps/iVkjzdeSfmp" target="_blank">CASA CHANG</a></h3>
                  <p>
                    <a href="https://goo.gl/maps/iVkjzdeSfmp" target="_blank">Av. Gen. Edson Ramalho, 1061, Manaíra<br/>João
                      Pessoa, PB<br/>58038-100</a></p>
                  <p>(83) 3214-9400</p>
                </div>
                <!-- END of TITLE & EXCERPT -->

              </div> <!-- END of ITEM-3 -->

              <!-- ITEM-4 -->
              <div class="wedding-item col-md-3 animation delay3 fadeIn">

                <!-- TITLE & EXCERPT -->
                <div class="title-excerpt">
                  <h3 class="text-center"><a href="https://goo.gl/maps/f4CJzhvBVsy">PERFORMATO</a></h3>
                  <p><a href="https://goo.gl/maps/f4CJzhvBVsy" target="_blank">Av. Pres. Epitácio Pessoa,
                    Tambauzinho<br/>João Pessoa, PB<br/>58042-020</a></p>
                  <p>(83) 3214-7733</p>
                </div>
                <!-- END of TITLE & EXCERPT -->

              </div> <!-- END of ITEM-4 -->

            </div>


          </div>

        </div>
      </div><!-- END of ROW-4 -->

    </div><!-- END of CONTAINER -->

  </section>


  <!-- RSVP SECTION -->
  <section id="rsvp">

    <div class="container">
      <div class="row">

        <!-- SECTION TITLE -->
        <div class="col-md-12 text-center ">

          <div class="section-title animation fadeInUp">
            <div class="heart-divider">
              <i class="de-icon-circle pink-heart"></i>
              <i class="de-icon-circle grey-heart"></i>
            </div>

            <h2>
              CONFIRMAÇÃO DE PRESENÇA
            </h2>

            <%= link_to 'RSVP', rsvp_path, class: "de-button medium animation fadeInUp" %>
          </div>

        </div>

      </div>
    </div>

  </section>


</section>


