<div id="map-ceremony" style="display:none;"></div>
<div id="map-party" style="display:none;"></div>

<!-- MAIN SLIDER -->
<section id="main-slider" class="fixed-height">

  <!-- MAIN SLIDER TITLE OUTTER WRAPPER -->
  <div class="slide-title-outter-wrapper">

    <!-- MAIN SLIDER TITLE INNER WRAPPER -->
    <div class="slide-title-inner-wrapper">

      <!-- TITLE 1  -->
      <div class="slide-title align-bottom">

        <div class="container">
          <div class="row">
            <div class="col-md-offset-2 col-md-8">

              <div class="page-title">
                <h1>RSVP</h1>

                <div class="heart-divider">
                  <span class="white-line-double-size"></span>
                </div>

              </div>

            </div>
          </div>
        </div>

      </div>

    </div><!-- END of MAIN SLIDER TITLE INNER WRAPPER -->

  </div> <!-- END of MAIN SLIDER TITLE OUTTER WRAPPER -->

  <!-- MAIN SLIDER IMAGES -->
  <div class="slides">
    <!-- SLIDE IMAGE -->
    <div data-stellar-ratio="0.5" class="slide-image change-to-i2-mobile" style="background-image:url(<%= asset_path('i2.jpg') %>);">
    </div>

    <div class="slide-overlay" style="opacity:0.2"></div>
  </div>  <!-- END of MAIN SLIDER IMAGES -->

</section><!-- ENF of MAIN SLIDER -->


<!--CONTENT SECTION-->
<section id="content">

  <!-- ICON -->
  <div class="icon-title">
    <div class="de-icon circle light large-size aligncenter">
      <i class="de-icon-mail-2"></i>
    </div>
  </div>

  <!-- CONTAINER -->
  <div class="container">


    <%= simple_form_for @rsvp_form, html: {class: 'contact-form forms', id: 'rsvpform'} do |f| %>
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

        <!--TEXT SECTION-->
        <br/><br/><br/>
        <div class="row">
          <div id="message" class="col-md-12 message">
            <!-- Show Message -->
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="inputname">NOME *</label>
              <input type="text" class="form-control ajax-input" id="inputname" placeholder="" data-required="Name Required" data-output-label="Output Name">
            </div>
            <div class="form-group">
              <label for="inputemail">E-MAIL *</label>
              <input type="email" class="form-control ajax-input" id="inputemail" placeholder="" data-required="Email Required" data-output-label="Output Email">
            </div>
            <div class="form-group">
              <label>CONFIRMO PRESENÇA *</label>
              <div id="events-checkbox" class="ajax-input ajax-checkbox" data-required="Please Select Events" data-output-label="Confirmo presença: ">
                <div class="btn-group" data-toggle="buttons">
                  <label class="btn btn-primary custom-option-icon">
                    <input type="checkbox" id="wedding-ceremony" value="Cerimônia Religiosa"> Cerimônia Religiosa
                  </label>
                  <label class="btn btn-primary custom-option-icon">
                    <input type="checkbox" id="wedding-party" value="Recepção"> Recepção
                  </label>
                </div>
              </div>
            </div>


          </div>
          <div class="col-md-6">

            <div class="form-group">
              <label for="inputmessage">DEIXA UMA MENSAGEM</label>
              <textarea id="inputmessage" class="form-control ajax-input" rows="15" data-output-label="Output Message"></textarea>
            </div>
          </div>
        </div><!--END of TEXT SECTION-->

        <div class="row">
          <div class="col-md-12 text-center">
            <div class="form-group">
              <input type="submit" id="submitButton" name="submitButton" class="button medium reverse" value="ENVIAR">
            </div>
          </div>
        </div>

  <% end %>

    <br/><br/><br/>

  </div><!-- END of CONTAINER -->

</section> <!--END of CONTENT SECTION-->
