@import "font-awesome";
@import "bootstrap";
@import "ionicons";
@import "preloader";
@import "preloader-default";
@import "flexslider";
@import "countdown/jquery.countdown";
@import "magnific-popup";
@import "owlcarousel/owl.carousel";
@import "owlcarousel/owl.theme";
@import "animate/animate";

@import "style";
@import "skin/dark-grey/dark-grey";


.bottom-footer {
  font-weight: normal !important;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 80%;
  color: #8b8b8b;
}

@media screen and (max-width: 991px) {

  //Overriding dark-grey.css
  .change-to-a-mobile {
    background-image: url(asset-path('a-mobile.jpg')) !important;
  }

  .change-to-b-mobile {
    background-image: url(asset-path('b-mobile.jpg')) !important;
  }

  .change-to-c-mobile {
    background-image: url(asset-path('c-mobile.jpg')) !important;
  }

  .change-to-d-mobile {
    background-image: url(asset-path('d-mobile.jpg')) !important;
  }

  .change-to-e-mobile {
    background-image: url(asset-path('e-mobile.jpg')) !important;
  }

  .change-to-f-mobile {
    background-image: url(asset-path('f-mobile.jpg')) !important;
  }

  .change-to-g-mobile {
    background-image: url(asset-path('g-mobile.jpg')) !important;
  }

  .change-to-h-mobile {
    background-image: url(asset-path('h-mobile.jpg')) !important;
  }

  .change-to-h-color-mobile {
    background-image: url(asset-path('h-color-mobile.jpg')) !important;
  }

  .change-to-i-mobile {
    background-image: url(asset-path('i-mobile.jpg')) !important;
  }

  .change-to-i2-mobile {
    background-image: url(asset-path('i-mobile.jpg')) !important;
  }

  .change-to-j-mobile {
    background-image: url(asset-path('j-mobile.jpg')) !important;
  }

  .change-to-j-color-mobile {
    background-image: url(asset-path('j-color-mobile.jpg')) !important;
  }

  .change-to-j-peb-mobile {
    background-image: url(asset-path('j-peb-mobile.jpg')) !important;
  }

  .change-to-l-mobile {
    background-image: url(asset-path('l-mobile.jpg')) !important;
  }
}
