<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta name="description" content="">
  <meta name="author" content="www.dethemes.com">
  <title>Lalu &amp; Humberto</title>

  <link rel="icon" href="favicon.ico">

  <%= stylesheet_link_tag 'application', media: 'all' %>

  <!-- Icon -->
  <link rel="stylesheet" href="css/fonts/fontello/css/fontello.css" type="text/css" media="screen"/>
  <!-- Font -->
  <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>

</head>

<body>
<!--PRELOADER-->
<div id="preloader">

  <div class="alignment">
    <div class="v-align center-middle">

      <!-- LEFT HEART -->
      <div class="heart-animation">
        <i class="de-icon-circle"></i>
      </div>

      <!-- RIGHT HEART -->
      <div class="heart-animation-reverse">
        <i class="de-icon-circle"></i>
      </div>

    </div>
  </div>

</div> <!--END of PRELOADER-->


<!-- NAVIGATION -->
<header id="nav-header">
  <nav id="nav-bar" class="top-bar fluid-width transparent nav-center sticky-nav animation fadeInDown">

    <div id="nav-wrapper">

      <!-- LOGO -->
      <div class="logo-wrapper">
        <!-- CSS LOGO -->
        <%= link_to(image_tag('monograma.png'), root_path) %>
        <!-- IMG LOGO
          <a href="index.html">
          <div class="img-logo">
            <img src="images/slide1.jpg">
          </div>
          </a>
          -->
      </div>
      <!-- END of LOGO -->

      <div id="mobile-nav">
        <i class="de-icon-menu"></i>
      </div>

      <ul id="nav-menu" class="nav-smooth-scroll">
        <li class="first-child">
          <%= link_to 'INÍCIO', root_path %>
        </li>
        <li>
          <a href="/ceremony">CERIMÔNIA RELIGIOSA</a>
        </li>
        <li>
          <a href="/ceremony">RECEPÇÃO</a>
        </li>


        <li class="smooth-scroll first-child split-margin">
          <a href="/#gift-list-section">LISTAS</a>
        </li>

        <li>
          <%= link_to 'RSVP', rsvp_path %>
        </li>
        <li>
          <a href="https://www.instagram.com/explore/tags/casamentolaluehumberto/" target="_blank">#casamentolaluehumberto</a>
        </li>
      </ul>

      <div class="clearboth"></div>

    </div>

  </nav>
</header> <!-- END of NAVIGATION -->




<%= yield %>




<!-- FOOTER SECTION -->
<footer id="application_footer">
  <div class="image-divider fixed-height change-to-j-peb-mobile" style="background-image:url(<%= asset_path('j-peb.jpg') %>);" data-stellar-background-ratio="0.5">

    <div class="divider-overlay"></div>

    <!-- Use Center Middle Alignment to align middle the content for fixed-height parallax -->
    <div class="alignment">
      <div class="v-align center-middle">

        <div class="container">
          <div class="row">
            <div class="col-md-12">

              <div id="footer-couple-name" class="animation delay1 fadeInUp">
                LARISSA & HUMBERTO
              </div>

            </div>
          </div>
        </div>

      </div>
    </div>

  </div>

  <div id="map-canvas" style="display: none;"></div>
</footer>


<!-- - - - - - - - - - - - Bottom Footer - - - - - - - - - - - - -->

<div class="bottom-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="copyright">
          Copyright ©
          <script>document.write(new Date().getFullYear())</script>
          .
          Larissa & Humberto. Todos os direitos reservados
        </div>
      </div>

      <div class="col-sm-3 col-sm-offset-3">
        <div class="developed">
          Desenvolvido por
          <%= link_to(image_tag('logo-bitmine-100.png', class: 'logo-bitmine', width: '70'), 'http://bitmine.com.br', target: '_blank') %>
        </div>
      </div>
    </div><!--/ .row-->
  </div><!--/ .container-->
</div><!--/ .bottom-footer-->

<!-- - - - - - - - - - - end Bottom Footer - - - - - - - - - - - -->

<!-- Google Map -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCqPMgHdlC6gRO0ianhqPmL-dHa3aOUpXM" type="text/javascript"></script>

<%= javascript_include_tag 'application' %>
<%= javascript_include_tag 'countdown/jquery.countdown-custom-label' %>

</body>
</html>
